@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './css/home.css';

$cor-primaria: #009A59;
$cor-secundaria: #ffffff;
$cor-fundo: #dde7eb;

$cor-texto-padrao: #000000;
$cor-texto-secundario: #ffffff;

$textoPadrao: "Inter", sans-serif;
$textoTitulo: "Fjalla One", sans-serif;

.card {
    width: 18rem;
}